<div class="about_section black_bg mt-10">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h2 class="text_gradient_new">Services</h2>
  </div>
  <div fxLayoutAlign="center center">
    <span class="text_white_md_center mt-3 max-w-[90%] lg:max-w-[30%]"
      >From idea to interface specialized services that turn your vision into
      seamless digital experiences.
    </span>
  </div>
  <div
    class="design-container pt-10"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
  >
    <div
      class="design-item"
      *ngFor="let item of designItems"
      fxFlex="0 0 calc(50% - 20px)"
      fxFlex.lt-md="0 0 100%"
    >
      <div class="design-header">
        <img src="assets/images/code.svg" class="pb-3" alt="code" />
        <h2 class="text_white_mdgt_bold">{{ item.title }}</h2>
      </div>
      <div class="divider"></div>
      <p class="text_white_sm_normal pt-3">{{ item.content }}</p>
    </div>
  </div>
</div>
